@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow-y: hidden;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.wrapper > main__item_wrapper {
  position: relative;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding-bottom: 10px;
}

.temp {
  position: absolute;
  right: -39px;
  top: 11px;
}

.main_contant {
  width: 2px !important;
  height: 25px !important;
  top: -11px !important;
}

.item {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 70px 0 10px 0;
}

.item p {
  display: inline-block;
  position: absolute;
  bottom: 46px;
  left: 10px;
}

.item p span {
  font-size: 10px;
}

.item .arrow::after {
  content: "";
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 10px solid #000;
  top: -59px;
  left: -2.2px;
}

.item_1::after {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 55px;
  width: 1px;
  background-color: #000;
}

.item_1 .t {
  display: inline-block;
  position: absolute;
  right: -9px;
  top: -23px;
  font-size: 16px;
}

.item_1::before {
  content: "";
  position: absolute;
  border-top: 3px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 3px solid transparent;
  right: -11px;
  top: -2px;
}

.item_2::after {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 55px;
  width: 1px;
  background-color: #000;
}

.item_2 .t {
  display: inline-block;
  position: absolute;
  right: -9px;
  top: -23px;
  font-size: 16px;
}

.item_2::before {
  content: "";
  position: absolute;
  border-top: 3px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 3px solid transparent;
  right: -11px;
  top: -2px;
}

.item__contant {
  width: 100%;
  height: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  margin-top: 18px;
  margin-bottom: 25px;
  padding-right: 17px;
}

.item__contant::before {
  content: "";
  position: absolute;
  border-top: 3px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 3px solid transparent;
  right: -11px;
  top: -2px;
}

.contant_main {
  height: 20px;
  width: 1px;
  top: -9px;
  position: relative;
  background-color: #000;
}

.contant_main span {
  position: relative;
  top: 30px;
  right: 8px;
}

.contant_main:last-child span {
  right: 0px;
}

.btn_1 {
  position: absolute;
  display: none;
  top: -128px;
  left: 30%;
  height: 30px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn_1 img {
  width: 100%;
  height: 100%;
}

.btn_11 {
  position: absolute;
  display: none;
  top: -128px;
  height: 30px;
  left: 0%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn_11 img {
  width: 100%;
  height: 100%;
}

.btn_2 {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  display: none;
  top: -48px;
  left: 7%;
  height: 30px;
}

.btn_2 img {
  width: 100%;
  height: 100%;
}

.wrong {
  color: red;
  font-weight: bold;
  line-height: 26px;
}

.circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  border: 3px solid green;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle_1 {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.circle_2 {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.circle_3 {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.circle_4 {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.circle_5 {
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}

.circle_5_mini {
  position: absolute;
  display: none;
  right: 84px;
  top: 52px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #000;
  background-color: red;
}

.circle_6 {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.circle_6_mini {
  position: absolute;
  display: none;
  right: 84px;
  top: 52px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid #000;
  background-color: red;
}

.circle_7 {
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
}

.circle_8 {
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
}

.circle_9 {
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
}

.circle_10 {
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  position: relative;
}

.circle0 {
  position: absolute;
  top: -22px;
}

.circle90 {
  position: absolute;
  top: 242px;
  right: -25px;
}

.circle180 {
  position: absolute;
  top: 502px;
}

.circle270 {
  position: absolute;
  top: 242px;
  left: -32px;
}

.button_var {
  padding: 20px;
  border: 2px solid grey;
  margin-top: 20px;
}

.button_var_2 {
  padding: 10px;
  border: 2px solid grey;
  margin: 20px 0;
}

.var {
  margin: 10px 6px 0px 0px;
}

.var_1 {
  margin-top: 0;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.no-webp #rad{
  background: url(../img/imgg.png); }

#rad {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate360 4.7s linear;
          animation: rotate360 4.7s linear;
}

.dot {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  top: 50%;
}

.dot_2 {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.dot_3 {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.dot_4 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.dot_5 {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.dot_6 {
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

.dot_7 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}

.dot_8 {
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
}

.dot_9 {
  -webkit-transform: rotate(80deg);
      -ms-transform: rotate(80deg);
          transform: rotate(80deg);
}

.dot_10 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dot_11 {
  -webkit-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
          transform: rotate(100deg);
}

.dot_12 {
  -webkit-transform: rotate(110deg);
      -ms-transform: rotate(110deg);
          transform: rotate(110deg);
}

.dot_13 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}

.dot_14 {
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
}

.dot_15 {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}

.dot_16 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}

.dot_17 {
  -webkit-transform: rotate(160deg);
      -ms-transform: rotate(160deg);
          transform: rotate(160deg);
}

.dot_18 {
  -webkit-transform: rotate(170deg);
      -ms-transform: rotate(170deg);
          transform: rotate(170deg);
}

.item_circle {
  margin-bottom: 30px;
}

.item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__button .button {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  padding: 15px 35px;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 0 5px 0 #3C93D5;
          box-shadow: 0 5px 0 #3C93D5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #55acee;
}

.item__button .button:hover {
  background: #6FC6FF;
}

.page__item_wrapper {
  position: relative;
}

.button_src {
  padding: 100px 20px;
}

@media (max-width: 75em) {
  .wrapper > main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  [class*=__container] {
    padding: 0 2.9375rem;
  }

  .header {
    margin-bottom: 0.625rem;
  }

  .button_var {
    font-size: 12px;
  }

  .button_var_2 {
    font-size: 12px;
  }
}

@media (max-width: 93.75em) {
  .circle {
    width: 400px;
    height: 400px;
  }

  .circle_5_mini {
    width: 16px;
    height: 16px;
  }

  .circle_6_mini {
    width: 18px;
    height: 18px;
  }

  .circle90 {
    top: 191px;
  }

  .circle180 {
    top: 405px;
  }

  .circle270 {
    top: 191px;
  }

  .button_var {
    padding: 11px;
    border: 2px solid grey;
    margin-top: 11px;
  }

  .button_var_2 {
    padding: 5px;
    border: 2px solid grey;
    margin-top: 11px;
  }

  .no-webp #rad{
    background: url(../img/imgg1.png); }

  .item__button .button {
    margin: 9px 0;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    padding: 14px 11px;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 0 5px 0 #3c93d5;
            box-shadow: 0 5px 0 #3c93d5;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #55acee;
  }

  .button_item {
    margin: 6px 0;
  }

  .button_item .button {
    font-size: 12px;
  }
}

@media (max-width: 61.99875em) {
  .header {
    margin-bottom: 1.25rem;
  }
}

.webp #rad{ background: url(../img/imgg.webp); }

@media (max-width: 93.75em){

  .webp #rad{ background: url(../img/imgg1.webp); }
}